html,body{ max-height:100%; }
body { margin-top: 25px; margin-bottom: 25px; background: none; color:white; }
html { background: #4C4949; }
a { color: #CBA32F; text-decoration: none; }
.nav { font-size: 22px; }
.col-xs-12 { min-height:85%; margin-bottom:60px; border:0;}
#files-text { margin-bottom: 50px; }
#files-text.files { overflow-y:scroll; margin-bottom: 50px; height:200px; }
#files-text.worksheets { overflow-x: scroll; overflow-y:hidden; white-space: nowrap; height: 140px; }
#files-text .row { width:100%; padding-top:10px; padding-left:10px; }
.col-md-1 { display: inline-block; float: none; min-height:100px; background:#eee; margin-left:15px; margin-right:15px; }
.col-sm-3 { height: 100%; max-height:100%; padding-top:0; margin-right: 20px; border-radius:20px; margin-top:62px; }
.col-sm-3 ul { list-style:none; padding-left:0; }
.col-sm-3 ul li { line-height:29px; background-color: #595959; margin-top: 2px; padding-left: 10px; padding-right: 0px; min-width:250px; }
.col-sm-3 ul li a{ color:white; font-size:16px; }
.col-sm-3 ul li .file-option { float:right; font-size:12px; }
.navbar-controls { padding-top:6px; }
.navbar-controls ul { padding-left:0; }
.navbar-controls ul li { line-height:50px; margin-top:24px; background:none; }
.tabs { height:45px; padding:0; overflow:visible; }
.tab { width:200px; height:45px; overflow:hidden; float:left; margin:0; cursor:pointer; }
.tab-box { height:50px; border-radius: 4px; border:1px solid #ccc; margin:0 10px 0; box-shadow: 0 0 2px  #fff inset; -webkit-transform: perspective(100px) rotateX(150deg); -moz-transform: perspective(100px) rotateX(150deg); }
.tab.active .tab-box{ background: #5cb85c; box-shadow: 0 0 25px 0 #fff inset; }
.tab-box {
background: #e2e2e2; /* Old browsers */
background: -moz-linear-gradient(top, #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e2e2e2), color-stop(50%,#dbdbdb), color-stop(51%,#d1d1d1), color-stop(100%,#fefefe)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* IE10+ */
background: linear-gradient(to bottom, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=0 ); /* IE6-9 */
}
.tab text { position: absolute; top: 7px; color: black; font-size: 22px; }
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
color: #FFF;
cursor: default;
background-color: #CBA32F;
border: 1px solid #ddd;
border-bottom-color: transparent;
}
.nav-tabs > li > a:hover {
border-color: #eee #eee #ddd;
background-color: #eee;
}
.tab-content {
padding: 0px 0px 10px 11px;
}
